In [1]:
import pandas as pd
from sklearn.svm import SVC, LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline  
from sklearn.preprocessing import StandardScaler

def plot_graph(a):
    index = np.arange(len(a))
    plt.figure(figsize=(20,10))
    plt.bar(a.index, a.tolist())
    plt.xlabel('Countries', fontsize=10)
    plt.ylabel('Sales', fontsize=10)
    plt.xticks(a.index, a.index, fontsize=10, rotation=30)
    plt.title('Sales')


# np.random.seed(5)

dados = pd.read_csv("data/fake_job_postings.csv")
dados.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

In [2]:


# dados["salary_range"] = dados.salary_range.map({NaN:0})

def leo2(y):
    try:
        return int(y)
    except ValueError as ve:
        return 0

def leo(x):
    if isinstance(x, list):
        return sum([leo2(y) for y in x])/2

dados.salary_range = dados.salary_range.str.split(pat="-")
# dados.salary_range.apply(np.sum)


dados.salary_range = dados.salary_range.apply(leo)
dados.fillna({"salary_range":0}, inplace=True)
trocar = {"Bachelor's Degree":0, "High School or equivalent":1, "Unspecified":2, "Master's Degree":3,
         "Associate Degree":4, "Certification":5, "Some College Coursework Completed":6,"Professional":7,
          "Vocational":8, "Some High School Coursework":9,"Doctorate":10, "Vocational - HS Diploma":11,
         "Vocational - Degree ":12}

# dados["required_education"] = dados.required_education.map(trocar)

# dados.salary_range
# dados.head()
dados = pd.concat([dados, dados.employment_type.str.get_dummies()], axis=1)
dados = pd.concat([dados, dados.required_education.str.get_dummies()], axis=1)
dados = pd.concat([dados, dados.industry.str.get_dummies()], axis=1)
dados = pd.concat([dados, dados.required_experience.str.get_dummies()], axis=1)
dados = pd.concat([dados, dados.function.str.get_dummies()], axis=1)


dados.drop(['job_id'], axis=1, inplace=True)
dados.drop(['employment_type'], axis=1, inplace=True)
dados.drop(['required_education'], axis=1, inplace=True)
dados.drop(['industry'], axis=1, inplace=True)
dados.drop(['required_experience'], axis=1, inplace=True)
dados.drop(['function', 'title', 'location', 'department', 'company_profile', 'description', 'requirements', 'benefits'], axis=1, inplace=True)

# dados.requirements.value_counts()
# sns.scatterplot(x="required_education", y="salary_range", data=dados)
# dados.required_education.str.get_dummies()
# plt.scatter(dados.salary_range, dados.required_education, c=dados.fraudulent, s=3)

# scaler = StandardScaler()
# dados.industry.str.get_dummies()
# generos_escalados = scaler.fit_transform([])

In [3]:
# for i in dados.columns:
#     print(i)

# dados['Writing/Editing'].value_counts()
y = dados["fraudulent"]
dados.drop(['fraudulent'], axis=1, inplace=True)

x = dados[:]

np.random.seed(20)

treino_x, teste_x, treino_y, teste_y = train_test_split(x,y, test_size=0.25, stratify=y)

print("Treinaremos com %d elementos e testaremos com %d elementos " % (len(treino_x), len(teste_x)))

Treinaremos com 13410 elementos e testaremos com 4470 elementos

In [4]:
modelo1 = SVC()
modelo1.fit(treino_x, treino_y)

previsoes = modelo1.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)*100
print("A acurácia foi de : %.2f%% " % acuracia)

dados.head()

A acurácia foi de : 95.15%

,salary_range,telecommuting,has_company_logo,has_questions,Contract,Full-time,Other,Part-time,Temporary,Associate Degree,...,Public Relations,Purchasing,Quality Assurance,Research,Sales,Science,Strategy/Planning,Supply Chain,Training,Writing/Editing
0,0.0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0.0,0,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
teste_x["fraudulento"] = previsoes
# col.T.columns = 
# final= pd.concat([teste_x, pd.Series(previsoes)], axis=1)
teste_x.head()
teste_x.isnull().sum()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

salary_range                         0
telecommuting                        0
has_company_logo                     0
has_questions                        0
Contract                             0
Full-time                            0
Other                                0
Part-time                            0
Temporary                            0
Associate Degree                     0
Bachelor's Degree                    0
Certification                        0
Doctorate                            0
High School or equivalent            0
Master's Degree                      0
Professional                         0
Some College Coursework Completed    0
Some High School Coursework          0
Unspecified                          0
Vocational                           0
Vocational - Degree                  0
Vocational - HS Diploma              0
Accounting                           0
Airlines/Aviation                    0
Alternative Dispute Resolution       0
Animation                            0
Apparel & Fashion                    0
Architecture & Planning              0
Automotive                           0
Aviation & Aerospace                 0
                                    ..
Data Analyst                         0
Design                               0
Distribution                         0
Education                            0
Engineering                          0
Finance                              0
Financial Analyst                    0
General Business                     0
Health Care Provider                 0
Human Resources                      0
Information Technology               0
Legal                                0
Management                           0
Manufacturing                        0
Marketing                            0
Other                                0
Product Management                   0
Production                           0
Project Management                   0
Public Relations                     0
Purchasing                           0
Quality Assurance                    0
Research                             0
Sales                                0
Science                              0
Strategy/Planning                    0
Supply Chain                         0
Training                             0
Writing/Editing                      0
fraudulento                          0
Length: 198, dtype: int64